@import url(reset.css);

body {
  font-family: 'Rubik', sans-serif;
}

.todo-list {
  background-color:hsla(241,39%,54%,1);
  background-image:
  radial-gradient(at 19% 62%, hsla(227,64%,61%,1) 0px, transparent 50%),
  radial-gradient(at 79% 58%, hsla(165,75%,68%,1) 0px, transparent 50%),
  radial-gradient(at 50% 16%, hsla(262,92%,60%,1) 0px, transparent 50%),
  radial-gradient(at 48% 12%, hsla(101,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 61% 92%, hsla(269,74%,63%,1) 0px, transparent 50%),
  radial-gradient(at 1% 0%, hsla(140,42%,62%,1) 0px, transparent 50%),
  radial-gradient(at 7% 61%, hsla(339,62%,72%,1) 0px, transparent 50%);

  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
}

.container {
  position: relative;
  background-color: #FFFFFF;

  width: 35%;
  height: fit-content;
  margin: auto;
  padding: 3% 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  margin-bottom: 10px;

  user-select: none;
}

.numeric-date {
  display: flex;
  align-items: center;
}

.day {
  font-size: 32px;
}

.month-year-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.month {
  font-size: 13px;
}

.year {
  font-size: 13px;
}

.day-of-the-week {
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;

  padding-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}


.item-text {
  flex: 1 1 80%;
  transition: all 600ms;
}

.btn-box {
  flex: 1 1 20%;

  margin-left: 5px;

  display: flex;
  justify-content: end;
  gap: 2%;
}

.done {
  color: #ffffff;
  font-size: 14px;
  padding: 6px;
  border-radius: 35%;
  background-color: #50E3A4;
  cursor: pointer;
  margin-right: 4px;
  transition: all 500ms;
}

.delete {
  color: #ffffff;
  font-size: 14px;
  padding: 6px;
  border-radius: 35%;
  background-color: rgb(217, 109, 109);
  cursor: pointer;
}

.add-new-item {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;

  padding: 20px;
  background-color: #50E3A4;
  color: #e9e9e9;
  cursor: pointer;
}

.add-new-item:hover, .done:hover, .delete:hover {
  background-color: #44c58d;
  transition: all 400ms;

  -webkit-box-shadow: -2px -1px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 9px -5px rgba(0,0,0,0.75);
  box-shadow: -2px -1px 9px -5px rgba(0,0,0,0.75);
}

.delete:hover{
  background-color: rgb(209, 84, 84);
}

.li-done {
  text-decoration: line-through;
  opacity: 0.2;
  transition: all 500ms;
}

.done-active {
  background-color: #e9e9e9;
  transition: all 500ms;
}

.done-active:hover {
  background-color: #d7d7d7;
}

