@import "fonts.scss";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: "Objective";
  color: #0f001a;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 15px;
  // --PC--
  @media (max-width: 1225px) {
    max-width: 970px;
  }
  // --TABLET--
  @media (max-width: 991.98px) {
    max-width: 750px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    max-width: none;
  }
}

//--------Header-------
.header {
}

.header__container {
  display: flex;
  min-height: 134px;
  align-items: center;
}

.header__logo {
  color: #4a99d3;
  font-weight: 700;
  font-size: 40px;
  line-height: 4.2;
  padding: 0 0 0 122px;
  transition: all 500ms ease 0s;
  &:hover {
    color: #64b7ee;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    padding: 0 0 0 40px;
  }
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0 123px 0 0;
  // --MOBILLE--
  @media (max-width: 767.98px) {
    padding: 0 40px 0 0;
  }
}

.menu__burger {
}

.menu__list {
  display: flex;
  gap: 50px;
  @media (max-width: 1225px) {
    gap: 35px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    gap: 25px;
  }
}

.menu__item {
}

.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  color: #0f001a;
}
