@import "fonts.scss";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: "Objective";
  color: #0f001a;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 768px;
    right: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(
        1.02deg,
        #4a99d3 -17.33%,
        rgba(74, 153, 211, 0) 75.91%
      ),
      #ffffff;
    opacity: 0.2;
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
    transform: rotate(-180deg);
  }
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 15px;
  // --PC--
  @media (max-width: 1225px) {
    max-width: 970px;
  }
  // --TABLET--
  @media (max-width: 991.98px) {
    max-width: 750px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    max-width: none;
  }
}

//--------Header-------

.header {
}

.header__container {
  display: flex;
  min-height: 134px;
  align-items: center;
}

.header__logo {
  color: #4a99d3;
  font-weight: 700;
  font-size: 40px;
  line-height: 4.2;
  padding: 0 0 0 122px;
  transition: all 500ms ease 0s;
  &:hover {
    color: #64b7ee;
  }
  @media (max-width: 1223.89px) {
    padding: 0 0 0 50px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    padding: 0 0 0 5px;
  }
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 123px 0 0;

  @media (max-width: 1223.89px) {
    padding: 0 10px 0 55px;
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    padding: 0 0 0 0;
  }
}

.menu__list {
  display: flex;
  gap: 50px;
  @media (max-width: 1225px) {
    gap: 35px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    gap: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    position: absolute;
    left: 0;
    top: -100%;
    background-color: #ffffff;
    padding: 100px 20px 0 20px;
    width: 100%;
    height: 100%;
    gap: 5px;

    flex-direction: column;
    align-items: center;
    transition: transform 300ms;
  }
  // --MOBILLE--
  @media (max-width: 424.98px) {
    flex-direction: column;
  }
}

.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  color: #0f001a;
  @media (max-width: 767.98px) {
    display: block;
    padding: 0 400px;
    font-size: 28px;
    height: 100%;
    background-color: transparent;
  }
}

.burger-menu {
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  margin-right: 20px;
  display: none;

  @media (max-width: 1225px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    display: block;
    background-color: transparent;
    z-index: 2;
  }
  // --MOBILLE--
  @media (max-width: 424.98px) {
  }
}

.burger-menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  left: 5px;
  transition: transform 300ms, opacity 300ms, background-color 300ms;
}

.burger-menu span:nth-child(1) {
  transform: translateY(-12px);
}

.burger-menu span:nth-child(2) {
  transform: translateY(-2px);
}

.burger-menu span:nth-child(3) {
  transform: translateY(8px);
}

.header.open .menu__list {
  transform: translateY(100%);
}

.header.open .burger-menu span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger-menu span:nth-child(2) {
  opacity: 0;
}

.header.open .burger-menu span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
// ----- MAIN -----
// ----- title-section ----

.title-section {
}

.title-section__container {
  display: flex;
  padding: 24px 0 75px 0;
  @media (max-width: 767.98px) {
    padding: 24px 0 0 0;
  }
}

.title-section__content {
  flex: 0 1 61%;
  padding: 0 0 0 122px;
  margin: 0 0 151px 0;
  @media (max-width: 1225px) {
    flex: 0 1 71%;
    padding: 0 0 0 61px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    flex: 1 1 90%;
    padding: 0 0 0 21px;
    margin: 0 0 51px 0;
  }
  @media (max-width: 424.98px) {
    width: 90%;
  }
}

.title-section__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;

  padding: 0 0 14px 0;
  @media (max-width: 767.98px) {
    font-size: 28px;
    letter-spacing: 0.01em;
    line-height: 50px;
  }
}

.title-section__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;

  padding: 0 0 60px 0;
}

.btn {
  padding: 0 20px 0 0;
  @media (max-width: 1225px) {
    padding: 0;
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
}

.btn:hover {
  transition: all 500ms;
  -webkit-box-shadow: -83px 49px 88px -22px rgba(114, 169, 232, 1);
  -moz-box-shadow: -83px 49px 88px -22px rgba(114, 169, 232, 1);
  box-shadow: -83px 49px 88px -22px rgba(114, 169, 232, 1);
}

.btn-box {
  display: flex;
  gap: 10px;
  @media (max-width: 767.98px) {
    gap: 5px;
  }
  @media (max-width: 424.98px) {
    width: 300px;
  }
}

.play-market-btn {
  @media (max-width: 992px) {
    vertical-align: baseline;
    margin: 0 0 10px 20px;
  }
  @media (max-width: 767.98px) {
    margin: 0;
  }
  @media (max-width: 424.98px) {
    width: 140px;
  }
}

.app-store-btn {
  @media (max-width: 992px) {
    vertical-align: baseline;
    margin: 0 0 10px 20px;
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 424.98px) {
    // height: 60%;
    width: 140px;
    margin: 0;
  }
}

.title-section__image {
  flex: 0 1 39%;
  padding: 0 0 0 32px;

  @media (max-width: 1225px) {
    flex: 0 1 50%;
    padding: 0 0 0 15px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    flex: 0 1 50%;
    padding: 0 0 0 5px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    display: none;
  }
}
.title-section__image img {
  @media (max-width: 1225px) {
    width: 100%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    // flex: 0 1 19%;
    // padding: 0 0 0 5px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
  }
}

// ------ What We Do -------

.what-we-do {
}

.what-we-do__container {
  position: relative;
}
.what-we-do__container::after {
  content: url("../img/what-we-do/right-squares.png");
  position: absolute;
  top: -160px;
  right: -160px;
  @media (max-width: 1223.89px) {
    top: -220px;
  }
  @media (max-width: 992px) {
    top: -220px;
    right: -160px;
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}

.what-we-do__container::before {
  content: url("../img/what-we-do/left-squares.png");
  position: absolute;
  bottom: -125px;
  left: -225px;
  @media (max-width: 1223.89px) {
    bottom: -100px;
    left: -190px;
  }
  @media (max-width: 992px) {
    bottom: -80px;
    left: -190px;
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}

.what-we-do__content-box {
  margin: 10%;
  position: relative;

  width: 80%;
  height: 1175px;

  @media (max-width: 992px) {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    flex-direction: column;
    flex-wrap: nowrap;

    gap: 0px;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

.what-we-do__title {
  width: 41%;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;

  letter-spacing: 0.05em;

  color: #260041;
  @media (max-width: 992px) {
    width: 47%;
  }
  @media (max-width: 767.98px) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    font-size: 28px;
    letter-spacing: 0.01em;
    line-height: 50px;
  }
}

.first-card {
  top: 0;
  right: 0;
}

.second-card {
  top: 50%;
  left: 8%;
  transform: translate(0, -50%);
  @media (max-width: 992px) {
  }
  @media (max-width: 767.98px) {
    transform: translate(0, 0);
  }
}

.second-card::before {
  top: 42%;
  left: -28%;
  position: absolute;
  opacity: 0.99;
  content: url("../img/what-we-do/left-dots.png");
  opacity: 0.1;
  @media (max-width: 1225px) {
    left: -35%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    display: none;
  }
}

.third-card {
  bottom: 0;
  right: 0;
}

.third-card::before {
  position: absolute;
  right: -20%;
  bottom: -15%;
  content: url("../img/what-we-do/right-dots.png");
  opacity: 0.1;
  @media (max-width: 1225px) {
    right: -25%;
    bottom: -14%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    display: none;
  }
}

.what-we-do__card {
  position: absolute;

  width: 40%;
  padding: 0 48px 48px 48px;

  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;

  @media (max-width: 992px) {
    position: static;
    width: 47%;
    padding: 0 24px 24px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 70%;
    margin: 10px auto;
    padding: 0 24px 24px 24px;
  }
}

.card-image {
  position: relative;
  width: 100%;
  margin-bottom: 56px;
  z-index: 0;
}

.card-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  letter-spacing: 0.02em;
}

.card-text {
  margin-bottom: 62px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #0f001a;

  opacity: 0.6;
}

.card-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #4a99d3;
}

// --------- how it works -------

.how-its-works {
  background: rgba(74, 153, 211, 0.1);
}
.how-its-works__container {
  padding: 95px 122px;
  @media (max-width: 1223.89px) {
    padding: 95px 92px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    padding: 95px 10px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    padding: 25px 10px;
  }
}

.how-its-works__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  color: #4a99d3;

  margin-bottom: 8%;
}

.how-its-works__content {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10%;
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: center;
  }
}

.how-its-works__card {
  width: 20%;
  @media (max-width: 1223.89px) {
    width: 30%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    width: 33%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 60%;
    margin-bottom: 30px;
  }
}

.how-its-works__card-img {
  margin-bottom: 30px;
}
.how-its-works__card-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}
.how-its-works__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

// ------------- clients say ----------

.clients-say {
}
.clients-say__rectangle {
  position: absolute;
  bottom: 0;
  right: 50%;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    height: 80%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    display: none;
  }
}

.clients-say__container {
  min-height: 500px;
  position: relative;
}

.slider__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16%;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    gap: 11%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    gap: 0;
  }
}

.client-say__img-container {
  width: 42%;

  display: flex;
  justify-content: center;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.clients-say__img {
  max-height: 500px;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    height: 500px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    height: 300px;
  }
  @media (max-width: 424.98px) {
    height: 200px;
  }
}

.clients-say__title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;

  margin: 150px 0 11px 0;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    margin: 50px 0 25px 0;
  }
}

.clients-say__content {
  position: relative;

  width: 42%;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    width: 45%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 85%;
    margin: 0 auto;
  }
}

.clients-say__quotes {
  margin-bottom: 40px;
}

.clients-say__text {
  width: 75%;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0f001a;

  opacity: 0.5;

  margin-bottom: 40px;
  @media (max-width: 1223.89px) {
    width: 85%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    width: 90%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
  }
}

.clients-say__author {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #0f001a;
}

.clients-say__container::before {
  content: url("../img/clients-say/dots.png");
  position: absolute;
  right: -50px;
  top: 200px;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
  }
}

.clients-say__pagination {
  position: absolute;
  bottom: 5%;
  right: 200px;

  border-radius: 4px;

  display: flex;
  @media (max-width: 1223.89px) {
    bottom: 6%;
    right: 100px;
  }
  // --TABLET--
  @media (max-width: 992px) {
    bottom: 0%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    bottom: 15%;
    left: 20%;
  }
  @media (max-width: 424.98px) {
    bottom: 0%;
    left: 15%;
  }
}

.clients-say__left {
  cursor: pointer;
  padding: 8px 12px;
  background: #4a99d3;
  border-radius: 4px 0 0 4px;
  font-size: 28px;
  color: #ffffff;
  transition: all 300ms;
}
.clients-say__left:hover {
  background: #3d7dab;
  color: #dadada;
}

.fa-angle-right {
  cursor: pointer;
  height: 100%;
  padding: 8px 12px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(124, 38, 38, 0.08);
  border-radius: 0px 4px 4px 0px;
  font-size: 28px;
  color: #4a99d3;
  transition: all 300ms;
}
.fa-angle-right:hover {
  box-shadow: 0px 4px 16px rgba(124, 38, 38, 0.28);
  color: #4086b8;
}

.slides {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
// ---------- Download App ----------

.download-app {
  margin-top: 120px;
}
.download-app__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2%;
}

.download-app__container::before {
  content: url("../img/download-app/left-squares.png");
  position: absolute;
  bottom: -180px;
  left: -260px;
  @media (max-width: 767.98px) {
    display: none;
  }
}

.download-app__container::after {
  content: url("../img/download-app/right-squares.png");
  position: absolute;
  bottom: -175px;
  right: -160px;
  z-index: -1;
  @media (max-width: 1223.89px) {
    bottom: -175px;
    right: -200px;
  }
  @media (max-width: 992px) {
    right: -250px;
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}

.download-app__img-container {
  width: 49%;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    display: none;
  }
}

.download-app__img {
  @media (max-width: 1223.89px) {
    width: 90%;
  }
  // --TABLET--
  @media (max-width: 992px) {
    width: 80%;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
  }
}

.download-app__content {
  width: 49%;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 100%;
    margin: 0 auto;
  }
}

.download-app__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  text-align: center;

  margin-bottom: 16px;
}

.download-app__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0f001a;
  opacity: 0.5;

  margin: 0 auto 56px;
  width: 444px;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    width: 344px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 80%;
    margin-bottom: 15px;
  }
}

.download-app__btn-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    gap: 5px;
  }
}

.download-app__google-play {
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 140px;
  }
}

.download-app__app-store {
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    width: 140px;
  }
}

.download-app__google-play:hover,
.download-app__app-store:hover {
  transition: all 300ms;
  -webkit-box-shadow: -7px -3px 35px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -7px -3px 35px -9px rgba(0, 0, 0, 0.71);
  box-shadow: -7px -3px 35px -9px rgba(0, 0, 0, 0.71);
}

// --------- Footer -----------
.footer {
  background: #4a99d3;
  margin-top: 123px;
  @media (max-width: 767.98px) {
    margin-top: 30px;
  }
}

.footer hr {
  background-color: #ffffff;
  height: 1px;
}

.footer-top__container {
  margin-top: 55px;
}

.footer__top {
  display: flex;
  @media (max-width: 1223.89px) {
  }
  // --TABLET--
  @media (max-width: 992px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    flex-direction: row;
  }
}

.footer__logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;

  color: #ffffff;
  flex: 2 1 18%;
  @media (max-width: 992px) {
    flex: 1 1 100%;
    text-align: center;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.footer__quick-links {
  display: flex;
  flex-direction: column;
  flex: 1 1 11%;

  @media (max-width: 992px) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
  }
}

.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;

  text-decoration: underline;

  color: #ffffff;

  margin-bottom: 34px;
  @media (max-width: 992px) {
    height: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    height: auto;
    margin-bottom: 5px;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;

  margin-bottom: 18px;
  @media (max-width: 992px) {
    height: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    height: auto;
    margin-bottom: 10px;
  }
}

.footer__title:hover,
.footer__link:hover {
  color: #cdc8f2;
  transition: all 200ms;
}

.footer__others {
  flex: 1 1 11%;

  display: flex;
  flex-direction: column;
  @media (max-width: 992px) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
  }
}

.footer__products {
  flex: 1 1 11%;

  display: flex;
  flex-direction: column;
  @media (max-width: 992px) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  // --MOBILLE--
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
  }
}

.footer__subscribe {
  flex: 3 1 28%;
  @media (max-width: 992px) {
    margin-bottom: 10px;
  }
  @media (max-width: 767.98px) {
    flex: 1 1 100%;
    margin-top: 10px;
  }
  @media (max-width: 424.98px) {
    flex: 1 1 300px;
  }
}

.footer__subscribe p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;

  margin-bottom: 20px;
  @media (max-width: 767.98px) {
    margin-bottom: 2px;
    max-width: 600px;
  }
  @media (max-width: 424.98px) {
    width: 300px;
  }
}

.footer__form {
  display: flex;
  gap: 2%;
}

.footer__email {
  flex-basis: 70%;
  height: 50px;
  margin-right: 10itpx;
  padding-left: 15px;
  border-radius: 3px;
  font-size: 18px;
  @media (max-width: 767.98px) {
    height: 30px;
  }
  @media (max-width: 424.98px) {
    width: 180px;
  }
}

.footer__email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #000000;

  opacity: 0.5;
}

.footer__submit {
  cursor: pointer;
  flex-basis: 20%;
  height: 50px;
  padding: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  border-radius: 3px;

  color: #4a99d3;
  // --MOBILLE--
  @media (max-width: 767.98px) {
    padding: 8px;
    height: 30px;
  }
  @media (max-width: 424.98px) {
    width: 100px;
  }
}

.footer__submit:hover {
  background-color: #c3dae9;
  transition: all 300ms;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}

.footer__copy {
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;

  color: #ffffff;
}

.footer__social {
  display: flex;
  gap: 25px;
}

.footer__social a {
  gap: 25px;
  color: #ffffff;
}

.footer__social a:hover {
  gap: 25px;
  color: #a0c5d2;
  transition: all 300ms;
}
