@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: $border-blue;
}

.form {
  margin: auto;

  width: 465px;

  background-color: $light-grey;
  border-radius: 2%;
  overflow: hidden;
}

.form-header {
  height: 60px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgb(201, 201, 201);
  background-color: $base-grey;

  &__title {
    padding-top: 15px;
    font-size: 24px;
    text-align: center;
  }
}
.form-content {
  padding: 0 28px;

  display: flex;
  flex-wrap: wrap;

  gap: 0 2%;

  &__gender-input {
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 3px 0 0 0;
  }

  &__hobbies-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2px 0 0 0;
  }

  &__income {
    display: flex;
    gap: 10px;
  }

  &__income-range input {
    accent-color: $label-color;
    width: 100%;
    margin: 2px 0 0 0;
  }

  &__income-limiter {
    align-self: center;
    border: 1px solid $label-color;
    border-radius: 15%;
    padding: 2px;
    margin: 0 10px 5px 0;
    color: white;
    background-color: $label-color;
  }

  &__upload-picture input {
    font-size: 12px;
    padding: 0;
    margin: 2px 0 0 0;
  }

  &__bio textarea {
    resize: none;
  }
}

.label-color {
  color: $label-color;
}

.small-txt {
  font-size: 11px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 60px;
  margin: 10px 0 0 0;
  border-top: 1px solid rgb(201, 201, 201);
  background-color: $base-grey;

  &__submit-btn {
    margin: 0 28px 0 0;
    padding: 5px 14px;
    border: 1px solid $label-color;
    background-color: $label-color;
    color: white;
    border-radius: 4%;
  }

  &__submit-btn:hover {
    background-color: rgb(1, 153, 120);
    transition: 200ms;
  }
}

.mix-input {
  width: 100%;
  padding: 1px 3px;
  opacity: 0.6;
  margin: 2px 0 0 0;
}
.full-form-input {
  width: 100%;
  padding-top: 3px;
}

.half-form-input {
  width: 49%;
  padding-top: 3px;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 1px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  opacity: 0.6;
}

input[type="radio"]:checked {
  background-color: $label-color;
}

#hobbie1,
#hobbie2,
#hobbie3,
#hobbie4 {
  accent-color: $label-color;
  opacity: 0.6;
}
