@import "reset.css";

body {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  background-color: rgb(51, 102, 151);
  padding: 20px;
}

.header--title {
  color: rgb(231, 251, 253);
  text-align: center;
}

/* Content */

.content-container {
  display: flex;
  flex: 1 1 auto;
}

.nav {
  background-color: rgb(254, 152, 0);
  min-width: 20%;
  padding: 20px;
}

.main {
  padding: 20px;
}

.main--title {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.related-links {
  background-color: rgb(152, 50, 101);
  min-width: 20%;
  padding: 20px;
}

.footer {
  background-color: rgb(102, 153, 0);
  padding: 20px;
}

.footer--title {
  color: rgb(231, 251, 253);
  text-align: center;
}

/* Media Breakpoints */

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .related-links {
    margin-top: auto;
  }
}
